@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background: rgb(0, 14, 35);
  color: #e7e5ff;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set a minimum height to include the footer */
  box-sizing: border-box; /* Include padding and border in the total height */
}

#logo {
    margin-right: 10px; /* Adjust margin as needed */
    margin-top: -7px; /* Adjust margin as needed */
}

.black-text {
    color: black;
}

header {
  background-color: #333;
  padding: 1em;
  display: flex;
  border-bottom-left-radius: 10px; /* Adjust the value as needed */
  border-bottom-right-radius: 10px; /* Adjust the value as needed */
}

h1 {
  margin: 0;
  font-size: 2em;
}

h1, p {
  margin: 0;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  border-radius: 12px;
}

p {
  line-height: 1.6;
}

.highlight {
  color: #d42b2b;
  font-weight: bold;
}

button {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: #d93434;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  border: solid #d93434 3px;
  cursor: pointer;
  transition-duration: 150ms;
}

button:hover {
  background: #d93434;
  color: white;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.bg-darker {
  background-color: #121212; /* this is a common dark mode background color */
}

body.bg-dark {
  background-color: #121212;
  color: #ffffff;
}

.bg-darker {
  background-color: #1a1a1a;
}

a {
  color: #0099FF;
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

li {
  color: #fff;
}

body.bg-dark {
  background-color: #121212;
  color: #ffffff;
}

.extension-section {
  background-color: #1a1a1a;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.extension-thumb {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 7px;
}

.btn-primary, .btn-secondary {
  /*margin: 5px;
  padding: 10px 15px;*/
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

.text-danger {
  color: #dc3545;
}

.generated-id {
  font-size: 30px;
  text-align: left;
}

.code-block-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.code-block {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
  font-family: monospace;
}

.copy-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.text-center {
  color: #fff;
}

.statistics {
  color: #fff;
}

.center-text {
  text-align: center;
}

.rounded-image {
  border-radius: 10px; /* You can adjust the border-radius as needed */
  overflow: hidden;
}
