@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #240000;
}

h1 {
  font-family: Chakra Petch;
  margin: 0;
  color: white;
  font-size: 60px;
}

p {
  font-family: Play;
  color: white;
}

.menuTab {
  --angle: 0deg;
  width: 500px;
  background-image: linear-gradient(to top, #380000, #1f0000);
  color: white;
  padding: 15px;
  border: 3px solid red;
  border-radius: 15px;
  animation: 1s rotate linear infinite;
  transition-duration: 50ms;
  text-align: left;
}

.button {
  color: red;
  padding: 10px;
  border: red solid 3px;
  background-color: #380000;
  border-radius: 20px;
  text-decoration: none;
  transition-duration: 150ms;
}

.button:hover {
  color: #380000;
  background-color: red;
}
