@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  font-family: 'Cabin', sans-serif;
  background: rgb(0, 14, 35);
  color: #e7e5ff;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set a minimum height to include the footer */
  box-sizing: border-box; /* Include padding and border in the total height */
}

#logo {
    margin-right: 10px; /* Adjust margin as needed */
    margin-top: -7px; /* Adjust margin as needed */
}

header {
  background-color: #333;
  padding: 1em;
  display: flex;
}

h1 {
  margin: 0;
  font-size: 2em;
}

h1, p {
  margin: 0;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  border-radius: 12px;
}

p {
  line-height: 1.6;
}

.highlight {
  color: #d42b2b;
  font-weight: bold;
}

button {
  display: inline-block;
  padding: 0.8em 1.5em;
  margin: 0.5em 0;
  text-decoration: none;
  background-color: #ff4500;
  color: #fff;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #cc3700;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}
