@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(0, 14, 35);
  color: #e7e5ff;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set a minimum height to include the footer */
  box-sizing: border-box; /* Include padding and border in the total height */
}

#logo {
    margin-right: 10px; /* Adjust margin as needed */
    margin-top: -7px; /* Adjust margin as needed */
}

header {
  background-color: #333;
  padding: 1em;
  display: flex;
  border-bottom-left-radius: 10px; /* Adjust the value as needed */
  border-bottom-right-radius: 10px; /* Adjust the value as needed */
}

h1 {
  margin: 0;
  font-size: 2em;
}

h1, p {
  margin: 0;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  border-radius: 12px;
}

p {
  line-height: 1.6;
}

.highlight {
  color: #d42b2b;
  font-weight: bold;
}

button {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 11px #de633e;
  -moz-box-shadow: 0px 0px 11px #de633e;
  box-shadow: 0px 0px 11px #de633e;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #fc3c5c;
  background-image: -webkit-linear-gradient(top, #fc3c5c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c5c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c5c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c5c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c5c, #d93434);
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.bg-darker {
  background-color: #121212; /* this is a common dark mode background color */
}

body.bg-dark {
  background-color: #121212;
  color: #ffffff;
}

.bg-darker {
  background-color: #1a1a1a;
}

a.text-white, .text-white {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

li {
  color: #fff;
}

body.bg-dark {
  background-color: #121212;
  color: #ffffff;
}

.extension-section {
  background-color: #1a1a1a;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.extension-thumb {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 7px;
}

.btn-primary, .btn-secondary {
  margin: 5px;
  padding: 10px 15px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

.text-danger {
  color: #dc3545;
}

.generated-id {
  font-size: 30px;
  text-align: left;
}

.code-block-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.code-block {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
  font-family: monospace;
}

.copy-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.text-center {
  color: #fff;
}

.statistics {
  color: #fff;
}

.center-text {
  text-align: center;
}
