body {
  font-family: 'Outfit', sans-serif;
  background-color: #212529;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: #333333;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

a {
  color: #0099FF;
}

.navbar-content img {
  width: 75px;
  height: auto;
  margin-right: 10px;
}

.navbar-content p {
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  flex: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 15px;
  max-width: 100vw;
  margin: 0 auto;
}

header {
  background-color: #333;
  padding: 1em;
  display: flex;
  border-bottom-left-radius: 10px; /* Adjust the value as needed */
  border-bottom-right-radius: 10px; /* Adjust the value as needed */
}

#logo {
    margin-right: 10px; /* Adjust margin as needed */
    margin-top: -7px; /* Adjust margin as needed */
}

.extension {
  background-color: #181a1b;
  box-shadow: 0px 5px 15px rgba(.0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition-duration: 0.3s;
  transform-origin: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: calc(100% - 20px);
  max-width: 300px;
  border: 2px white solid;
  flex-basis: calc(20% - 20px); /* Adjust the width as needed */
  margin-bottom: 20px;
}

.extension.recommended-extension {
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8), inset 0px 0px 25px #ffd700;
}

.extension:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-bottom: solid 5px #ddd;
  border-radius: 12px 12px 0 0;
}

.content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

strong {
  color: #c8c3bc;
  font-size: 1.2em; 
  margin-bottom: 10px;
  display: block;
}

p {
  margin: 0;
  color: #a8a095;
  padding-block: 4px;
}

/* touch this god damn button one more time */

button {
  border: none;
  color: #fff;
  font-weight: bold;
  padding-block: 10px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-block: 5px;
}

.button {
  background-color: #ffb300; /* Golden background for the download button */
  border: 2px solid #ffb300; /* Golden border for the download button */
}

.button:hover {
  opacity: 0.8;
}

.download {
  background-color: #996b00; /* Golden background for the download button */
  border: 2px solid #b37d00; /* Golden border for the download button */
  border-radius: 15px; 
}

/* go ahead, it's right here*/

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    transform: translateX(-10px);
  }

  .extension {
    width: 100%;
    max-width: none;
    flex-basis: calc(50% - 20px);
  }

  .navbar {
    width: 100%;
    padding: 15px;
    border-radius: 0;
  }
}
